name: Secret Management Exercise

on:
  workflow_call:
    secrets:
      SECRET_API_KEY:
        required: true

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Run Script with Secret
      env:
        # This maps your GitHub Secret to an Environment Variable the script can see
        MY_SUPER_SECRET_KEY: ${{ secrets.SECRET_API_KEY }}
      run: python app.py
